.checkbox {
	margin-left: 20px;
}

table th, table td {
	text-align: center;
	font-size: 17px;
	font-family: inherit;
}

.tienda{
	margin-top: 60px;
	text-align: center;
}
.tienda button{
	margin-top: 10px;
}
.tienda div{
}
