.checkbox {
	margin-left: 20px;
}

table th, table td {
	text-align: center;
	font-size: 17px;
	font-family: inherit;
}

.tienda{
	margin-top: 60px;
	text-align: center;
}
.tienda button{
	margin-top: 10px;
}

.tienda img{
	height: 150px;
}

.infoMejoras {
	margin-top: 70px;
}

.opciones {
	margin-top: 10px;
	margin-right: 10px;
	text-align
}

.tablaInfo {
	margin-top: 50px;
}

.comprarBitcoins{
	margin-top: 35px;
}

#comprarBitcoinsValor{
	width: 130px;
}
